.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 3%;
  margin-top: 3%;
  margin-right: 7%;
  column-gap: space-around;
}

.card {
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: #d1d8ec;
  -webkit-box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #f0f8ff;
  box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #f0f8ff;

  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 26px;
  box-shadow: 35px 35px 68px 0px rgba(145, 192, 255, 0.5),
    inset -8px -8px 16px 0px rgba(145, 192, 255, 0.6),
    inset 0px 11px 28px 0px rgb(255, 255, 255);

  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 30px;
}

#red {
  flex-basis: 33%;
  border: 1px black;
  margin-bottom: 4rem;
}

#black {
  flex-basis: 33%;
  border: 1px black;
  margin-bottom: 4rem;
}

#blue {
  flex-basis: 33%;
  border: 1px black;
  margin-bottom: 4rem;
}

#orange {
  flex-basis: 33%;
  border: 1px black;
}

h2 {
  border: 1px solid lightblue;
  width: 100%;
  font-weight: bolder;
  font-size: medium;
  text-align: center;
}

.stock {
  background-color: grey;
  color: yellow;
  text-align: left;
  border-radius: 0%;
  margin-left: 0%;
  mar
}

/* .info {
  line-height: 1.0;
} */

.specs {
  font-size: large;
  font-size: smaller;
  font-weight: bold;
  margin-left: 3%;
  line-height: 1.0;
}

.size {
  font-size: medium;
  font-weight: bolder;
  margin-left: 3%;
  line-height: 1.0;
}

footer {
  font-size: small;
}

.cost {
  font-size: large;
  font-size: smaller;
  font-weight: bold;
  margin-left: 3%;
  line-height: 1.0;
}

.price {
  font-size: medium;
  font-weight: bolder;
  margin-left: 3%;
  line-height: 1.0;
}
